* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 20px;
}

.container button {
    padding: 10px 20px;
    margin: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}
.container button:hover {
    background-color: #122c13;
    color: whitesmoke;
    transition: 0.3s ease-in;
}

#display, #score-card {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}